:root{
    --color-title: #212121;
    --color-basic: #F5F5F5;
    --color-logotype: #000;
    --color-text-paragraph: #757575;
    --color-white: #FFFFFF;
    --color-button-nav: #2196F3;
    --color-backround:  #F5F4FA;
    --color-footer: #2F303A;
    --color-border: #EEEEEE;
    --color-border-heder: #ECECEC;
    --color-icon: #AFB1B8;
    --color-button:  #188CE8;
    --color-text:rgba(255, 255, 255, 0.6); 
}